$mercury: #E1E1E1;
$mercury-rgba: rgba(225, 225, 225, 0);
$blue-rgba: rgba(0, 0, 255, 0.4);
$bg-color-button: #A43BCB;
$alabaster: #FAFAFA;
$black: #000000;

// screen size
$desktop-breakpoint: 80rem; // 1280px
$tablet-breakpoint: 48rem; // 768px