@use "./partials/mixins" as *;
@use "./partials/variables" as *;

* {
    margin: 0;
    box-sizing: border-box; 
}

body {
    font-family:'Montserrat', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

// for header section
.header {
    background-color: $mercury;
    width: 100%;
    padding: 1rem;
    @include tablet {
        padding: 1.1rem;
    }

    &__logo{
    font-family: 'Pinyon Script', cursive;
    @include font-stack (2rem, 400, 2rem, $black);
    text-align: center;

    @include tablet {
        @include font-stack (2.25rem, 400, 2.25rem, $black);
        }
    }
}

.main {
    height: auto;
    background-image: url('./assets/bg-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.form {
    padding: 1rem;
    width: 100%;
    @include tablet {
        padding: 3rem 0rem;
        width: 80%;
        margin: 0 auto;
    }
    @include desktop {
        padding: 4rem 0rem;
        width: 70%;
    }

    &__input {
        @include flex(flex-start, flex-start, column, nowrap);
        width:100%;
    }

    &__container {
        width: 100%;
        padding-bottom: 2rem;
        @include flex(center, center, column, nowrap);
        @include tablet {
            @include flex(space-between, center, row, nowrap);
            padding-bottom: 2rem;
        }
        @include desktop {
            padding-bottom: 2.5rem;
        }
    }

    &__label {
        width: 100%;
        padding-bottom: 0.5rem;
        @include font-stack (1rem, 400, 1.25rem, $alabaster);
        font-family:'Montserrat', sans-serif;
        @include tablet {
            width: 50%;
            padding-bottom: 0rem;
            @include font-stack (1.5rem, 400, 1.5rem, $alabaster);
            font-family:'Montserrat', sans-serif;
        }
    }

    &__list-sign,
    &__list-date {
        font-family:'Montserrat', sans-serif;
        width: 100%;
        height: 2.5rem;
        padding: 0.5rem;
        @include styleBorderMobile;
        @include font-stack (1rem, 400, 1.25rem, $black);
        background-color:$alabaster;
        outline: none;
        @include tablet {
            width: 50%;
            height: 3rem;
            @include font-stack (1.25rem, 400, 2rem, $black);
        }
    }

    &__button-submit {
        font-family:'Montserrat', sans-serif;
        margin-top: 0.5rem;
        width: 100%;
        padding: 1rem;
        @include font-stack (1.25rem, 600, 1.25rem, $black);
        @include styleBorderMobile;
        @include tablet {
            align-self: center;
            width: 50%;
            margin-top: 1rem; 
            @include font-stack (1.5rem, 700, 2rem, $black);
            &:hover {
            background-color: $mercury;
            }
        }
    }
}

.prediction {
    padding: 0rem 1.25rem 1.25rem;
    width: 100%;
    @include flex(space-between, flex-start, column, nowrap);
    @include tablet {
        @include flex(space-between, center, column nowrap);
        padding: 0rem 0rem 1.25rem;
        width: 80%;
        margin:0 auto;
        @include desktop {
            width: 70%;
        }
    }

    &__date,
    &__card,
    &__additional-info{
        margin-bottom: 1.5rem;
        padding: 1rem;
        width: 100%;
        background-image: url(./assets/bg-card.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity:0.95;
        @include styleBorderMobile;
        @include tablet {
            margin-bottom: 1.5rem;
            @include flex(flex-start, center, column, nowrap); 
        }
    }

    &__date {
        margin-top: 1.5rem;
        @include flex(space-around, center, column, nowrap); 
        @include tablet {
            margin-top: 0rem; 
        }
    }

    &__title {
       @include font-stack (1.25rem, 700, 1.5rem, $black);
       padding-bottom: .8125rem;
       text-align: center;
       @include tablet {
            @include font-stack (1.5rem, 700, 2rem, $black);
            padding-bottom: 0rem;
        }
    }

    &__content {
        @include font-stack (1rem, 400, 1.5rem, $black); 
        @include tablet {
            @include font-stack (1.25rem, 400, 2rem, $black); 
        }
    }

    &__item {
        @include font-stack (1rem, 400, 1.5rem, $black); 
        text-align: center;
        @include tablet {
            @include font-stack (1.25rem, 400, 2rem, $black); 
        }
    }
}

.footer {
    background-color: $mercury;
    width: 100%;
    padding: 1rem;
    @include tablet {
        padding: 1.5rem;
    }

    &__content-copyright {
        font-family: 'Pinyon Script', cursive;
        @include font-stack (1rem, 400, 2.25rem, $black);
        text-align: center;
        @include tablet {
            @include font-stack (1.5rem, 400, 2.25rem, $black);
        }
    }
}




