@use "./partials/mixins" as *;
@use "./partials/variables" as *;

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

// for header section
.header {
    background-image: url('./assets/bg-image-new.jpg');
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    width: 100%;
    padding: 1rem;

    @include tablet {
        padding: 1.1rem;
    }

    &__container-logo {
        width: 100%;
        @include flex(flex-start, center, row, nowrap);
    }

    &__icon-logo {
        width: 2rem;
        height: 2rem;

        @include tablet {
            width: 2.5rem;
            height: 2.5rem;
        }
    }

    &__logo {
        @include font-stack-logo;
        text-align: center;
    }

}

.main {
    min-height: 95vh;
    height: auto;
    background-image: url('./assets/bg-image-new.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.form {
    padding: 1rem;
    width: 100%;

    @include tablet {
        padding: 2rem 0rem;
        width: 80%;
        margin: 0 auto;
    }

    @include desktop {
        padding: 2rem 0rem;
        width: 70%;
    }

    &__input {
        @include flex(center, center, column, nowrap);
        width: 100%;
    }

    &__main-container {
        @include flex(center, center, column, nowrap);
        width: 100%;
    }

    &__header-signs,
    &__label-date {
        @include font-stack-mobile;
        text-align: center;
        width: 100%;
        padding-bottom: 0.5rem;

        @include tablet {
            @include font-stack-tablet;
        }
    }

    &__container {
        @include flex(space-between, center, row, wrap);
        width: 100%;
    }

    &__input-container {
        @include flex(center, center, column, wrap);
        width: 33%;

        @include tablet {
            width: 24%;
        }

        @include desktop {
            width: 16%;
        }
    }

    &__image-sign {
        @include tablet {
            &:hover {
                transform: scale(1.2);
            }
        }
    }

    &__date-container {
        @include flex(center, center, column, nowrap);
        width: 100%;
        padding: 1rem 0;

        @include tablet {
            padding: 2rem 0;
        }

    }

    &__label {
        width: 100%;
        padding-top: 0.5rem;
        @include font-stack-label-mobile;
        text-align: center;

        @include tablet {
            width: 50%;
            padding-bottom: 0rem;
            text-align: center;
            @include font-stack-label-tablet;
        }
    }

    &__label-date {
        padding-bottom: 1rem;

        @include tablet {
            padding-bottom: 1rem;
        }
    }

    &__list-date {
        @include font-stack-input;
        @include sizeInputButton;
        @include styleBorderMobile;
        padding: 0.5rem;
        background-color: $alabaster;
        outline: none;
    }

    &__button-submit {
        @include font-stack-button;
        @include sizeInputButton;
        @include styleBorderButton;
        background-color: $bg-color-button;
        padding: 1rem;

        @include tablet {
            align-self: center;

            &:hover {
                background-color: $blue-rgba;
            }
        }
    }
}

.prediction {
    @include sizePredictionSection;
    @include flex(space-between, center, column, nowrap);

    @include tablet {
        @include flex(space-between, center, column nowrap);
        margin: 0 auto;
    }

    &__date,
    &__card,
    &__additional-info {
        margin-bottom: 1rem;
        padding: 1rem;
        width: 100%;
        background-color: $blue-rgba;
        @include styleBorderPrediction;

        @include tablet {
            margin-bottom: 2rem;
        }
    }

    &__date {
        @include flex(space-around, center, column, nowrap);

        @include tablet {
            margin-top: 0rem;
        }
    }

    &__title {
        @include font-stack-title;
        padding-bottom: .5rem;
        text-align: center;

        @include tablet {
            padding-bottom: 1rem;
        }
    }

    &__content {
        @include font-stack-content;
        text-align: center;
    }

    &__item {
        @include font-stack-content;
        text-align: center;
        padding-bottom: .5rem;
    }
}

.footer {
    background-image: url('./assets/bg-image-new.jpg');
    background-size: cover;
    background-position: left bottom;
    background-repeat: no-repeat;
    width: 100%;
    padding: 1rem;

    @include tablet {
        padding: 1.5rem;
    }

    &__content-copyright {
        @include font-stack-footer;
        text-align: center;
    }
}