* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

.header {
  background-image: url("./assets/bg-image-new.jpg");
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  width: 100%;
  padding: 1rem;
}
@media screen and (min-width: 48rem) {
  .header {
    padding: 1.1rem;
  }
}
.header__container-logo {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header__icon-logo {
  width: 2rem;
  height: 2rem;
}
@media screen and (min-width: 48rem) {
  .header__icon-logo {
    width: 2.5rem;
    height: 2.5rem;
  }
}
.header__logo {
  width: 90%;
  font-family: "Pinyon Script", cursive;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2rem;
  color: #FAFAFA;
  letter-spacing: 1.5px;
  text-align: center;
}
@media screen and (min-width: 48rem) {
  .header__logo {
    width: 90%;
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 2.25rem;
    color: #FAFAFA;
    letter-spacing: 2px;
  }
}

.main {
  min-height: 95vh;
  height: auto;
  background-image: url("./assets/bg-image-new.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.form {
  padding: 1rem;
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .form {
    padding: 2rem 0rem;
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 80rem) {
  .form {
    padding: 2rem 0rem;
    width: 70%;
  }
}
.form__input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}
.form__main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}
.form__header-signs, .form__label-date {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  color: #FAFAFA;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  width: 100%;
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 48rem) {
  .form__header-signs, .form__label-date {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #FAFAFA;
    font-family: "Montserrat", sans-serif;
  }
}
.form__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.form__input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 33%;
}
@media screen and (min-width: 48rem) {
  .form__input-container {
    width: 24%;
  }
}
@media screen and (min-width: 80rem) {
  .form__input-container {
    width: 16%;
  }
}
@media screen and (min-width: 48rem) {
  .form__image-sign:hover {
    transform: scale(1.2);
  }
}
.form__date-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  padding: 1rem 0;
}
@media screen and (min-width: 48rem) {
  .form__date-container {
    padding: 2rem 0;
  }
}
.form__label {
  width: 100%;
  padding-top: 0.5rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 0.8rem;
  color: #FAFAFA;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
@media screen and (min-width: 48rem) {
  .form__label {
    width: 50%;
    padding-bottom: 0rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1rem;
    color: #FAFAFA;
    font-family: "Montserrat", sans-serif;
  }
}
.form__label-date {
  padding-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  .form__label-date {
    padding-bottom: 1rem;
  }
}
.form__list-date {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 0.8rem;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  max-width: 12.75rem;
  width: 100%;
  height: 2.5rem;
  border-radius: 4px;
  border: 1px solid #E1E1E1;
  padding: 0.5rem;
  background-color: #FAFAFA;
  outline: none;
}
@media screen and (min-width: 48rem) {
  .form__list-date {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1rem;
    color: #000000;
  }
}
@media screen and (min-width: 48rem) {
  .form__list-date {
    max-width: 15.75rem;
    width: 50%;
    height: 3rem;
  }
}
.form__button-submit {
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 0.8rem;
  color: #FAFAFA;
  font-family: "Montserrat", sans-serif;
  max-width: 12.75rem;
  width: 100%;
  height: 2.5rem;
  border-radius: 4px;
  border: none;
  box-shadow: rgba(0, 0, 255, 0.4) 1.95px 1.95px 2.6px;
  background-color: #A43BCB;
  padding: 1rem;
}
@media screen and (min-width: 48rem) {
  .form__button-submit {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1rem;
    color: #FAFAFA;
  }
}
@media screen and (min-width: 48rem) {
  .form__button-submit {
    max-width: 15.75rem;
    width: 50%;
    height: 3rem;
  }
}
@media screen and (min-width: 48rem) {
  .form__button-submit {
    align-self: center;
  }
  .form__button-submit:hover {
    background-color: rgba(0, 0, 255, 0.4);
  }
}

.prediction {
  padding: 0 2rem 1rem 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
@media screen and (min-width: 48rem) {
  .prediction {
    padding-bottom: 0;
    width: 70%;
  }
}
@media screen and (min-width: 80rem) {
  .prediction {
    width: 70%;
  }
}
@media screen and (min-width: 48rem) {
  .prediction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column nowrap;
    flex-wrap: nowrap;
    margin: 0 auto;
  }
}
.prediction__date, .prediction__card, .prediction__additional-info {
  margin-bottom: 1rem;
  padding: 1rem;
  width: 100%;
  background-color: rgba(0, 0, 255, 0.4);
  border-radius: 4px;
  border: none;
  box-shadow: #A43BCB 1.95px 1.95px 2.6px;
}
@media screen and (min-width: 48rem) {
  .prediction__date, .prediction__card, .prediction__additional-info {
    margin-bottom: 2rem;
  }
}
.prediction__date {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
@media screen and (min-width: 48rem) {
  .prediction__date {
    margin-top: 0rem;
  }
}
.prediction__title {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1rem;
  color: #FAFAFA;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.3rem;
  padding-bottom: 0.5rem;
  text-align: center;
}
@media screen and (min-width: 48rem) {
  .prediction__title {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.25rem;
    color: #FAFAFA;
    letter-spacing: 0.3rem;
  }
}
@media screen and (min-width: 48rem) {
  .prediction__title {
    padding-bottom: 1rem;
  }
}
.prediction__content {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1rem;
  color: #FAFAFA;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
@media screen and (min-width: 48rem) {
  .prediction__content {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #FAFAFA;
  }
}
.prediction__item {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1rem;
  color: #FAFAFA;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 48rem) {
  .prediction__item {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #FAFAFA;
  }
}

.footer {
  background-image: url("./assets/bg-image-new.jpg");
  background-size: cover;
  background-position: left bottom;
  background-repeat: no-repeat;
  width: 100%;
  padding: 1rem;
}
@media screen and (min-width: 48rem) {
  .footer {
    padding: 1.5rem;
  }
}
.footer__content-copyright {
  width: 100%;
  font-family: "Pinyon Script", cursive;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  color: #FAFAFA;
  letter-spacing: 1.5px;
  text-align: center;
}
@media screen and (min-width: 48rem) {
  .footer__content-copyright {
    width: 100%;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #FAFAFA;
    letter-spacing: 2px;
  }
}/*# sourceMappingURL=style.css.map */